$header-height: 50px;
$footer-height: 50px;

$header-z-index: 1000;
$footer-z-index: 1000;

.iscroll-off {
  .core {
    &.contents {
      position: relative;
      left: 0;
      width: 100%;
      margin-top: 0;
      margin-bottom: 0;
    }

    &.header-show {
      &.header {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding: 0;
        margin: 0;
        z-index: $header-z-index;
      }
      &.contents {
        margin-top: $header-height;
      }
    }

    &.header-hide {
      &.header {
        display: none;
      }
      &.contents {
        margin-top: 0;
      }
    }

    &.footer-show {
      &.contents {
        margin-bottom: $footer-height;
      }
      &.footer {
        display: block;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 0;
        margin: 0;
        height: $footer-height;
        z-index: $header-z-index;
      }
    }

    &.footer-hide {
      &.footer {
        display: none;
      }
      &.contents {
        margin-bottom: 0;
      }
    }
  }
}

.iscroll-on {
  body {
    overflow: hidden;
  }

  .core {
    position: absolute;
    left: 0;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;

    &.contents {
      overflow: auto;
    }

    &.header-show {
      &.header {
        top: 0;
        z-index: $header-z-index;
      }
      &.contents {
        top: $header-height;
      }
    }

    &.header-hide {
      &.header {
        display: none;
      }
      &.contents {
        top: 0;
      }
    }

    &.footer-show {
      &.contents {
        bottom: $footer-height;
      }
      &.footer {
        height: $footer-height;
        bottom: 0;
        z-index: $header-z-index;
      }
    }

    &.footer-hide {
      &.contents {
        bottom: 0;
      }
      &.footer {
        display: none;
      }
    }
  }
}

// iScroll + Bootstrap adjustments:
.core.header {
  .navbar, .navbar-text {
    margin-bottom: 0;
  }
}