@mixin cl-area-visibility($area, $what, $target: $area) {
  .cl-#{$area}-#{$what} > .cl-#{$target} {
    @content
  }
}

@mixin cl-responsive-hidden($hidden-size) {
  @include cl-area-visibility('header', $hidden-size) {
    display: none !important;
  }
  @include cl-area-visibility('footer', $hidden-size) {
    display: none !important;
  }

  .iscroll-off {
    @include cl-area-visibility('header', $hidden-size, 'contents') {
      margin-top: 0;
    }
    @include cl-area-visibility('footer', $hidden-size, 'contents') {
      margin-bottom: 0;
    }
  }

  .iscroll-on {
    @include cl-area-visibility('header', $hidden-size, 'contents') {
      top: 0;
    }
    @include cl-area-visibility('footer', $hidden-size, 'contents') {
      bottom: 0;
    }
  }
}

@mixin cl-responsive-visible($visible-size, $header-height, $footer-height,
$modal-header-height, $modal-footer-height) {

  @include cl-area-visibility('header', $visible-size) {
    display: block !important;
  }
  @include cl-area-visibility('footer', $visible-size) {
    display: block !important;
  }

  .iscroll-off {
    @include cl-area-visibility('header', $visible-size, 'contents') {
      margin-top: $header-height;
    }
    @include cl-area-visibility('footer', $visible-size, 'contents') {
      margin-bottom: $footer-height;
    }
  }

  .iscroll-on {
    @include cl-area-visibility('header', $visible-size, 'contents') {
      top: $header-height;
    }
    @include cl-area-visibility('footer', $visible-size, 'contents') {
      bottom: $footer-height;
    }
  }

  .iscroll-off .cl-modal-box {
    @include cl-area-visibility('header', $visible-size, 'contents') {
      margin-top: $modal-header-height;
    }
    @include cl-area-visibility('footer', $visible-size, 'contents') {
      margin-bottom: $modal-footer-height;
    }
  }

  .iscroll-on .cl-modal-box {
    @include cl-area-visibility('header', $visible-size, 'contents') {
      top: $modal-header-height;
    }
    @include cl-area-visibility('footer', $visible-size, 'contents') {
      bottom: $modal-footer-height;
    }
  }

}

@mixin default-invisible($sizes) {
  $header-selectors: ();
  $footer-selectors: ();
  @each $size in $sizes {
    $header-selectors: join($header-selectors,
            unquote('.cl-header-visible-#{$size}'), comma);
    $footer-selectors: join($footer-selectors,
            unquote('.cl-footer-visible-#{$size}'), comma);
  }

  #{$header-selectors} {
    > .cl-header {
      display: none !important;
    }
  }
  #{$footer-selectors} {
    > .cl-footer {
      display: none !important;
    }
  }
  .iscroll-off #{$header-selectors} {
    > .cl-contents {
      margin-top: 0;
    }
  }
  .iscroll-off #{$footer-selectors} {
    > .cl-contents {
      margin-bottom: 0;
    }
  }
  .iscroll-on #{$header-selectors} {
    > .cl-contents {
      top: 0;
    }
  }
  .iscroll-on #{$footer-selectors} {
    > .cl-contents {
      bottom: 0;
    }
  }
}

@include default-invisible($cl-responsive-sizes);

@mixin cl-responsive-visible-hidden-pair($header-height, $footer-height, $modal-header-height, $modal-footer-height, $size: '', $joint: '-') {
  $suffix: #{$joint}#{$size};

  @include cl-responsive-visible('visible#{$suffix}', $header-height,
          $footer-height, $modal-header-height, $modal-footer-height);
  @include cl-responsive-hidden('hidden#{$suffix}')
}


@include cl-responsive-visible-hidden-pair($cl-header-height, $cl-footer-height, $cl-modal-header-height, $cl-modal-footer-height,
$joint: '');

@media (max-width: $cl-screen-xs-max) {
  @include cl-responsive-visible-hidden-pair($cl-header-height, $cl-footer-height, $cl-modal-header-height, $cl-modal-footer-height, xs);
}

@media (min-width: $cl-screen-sm-min) and (max-width: $cl-screen-sm-max) {
  @include cl-responsive-visible-hidden-pair($cl-header-height, $cl-footer-height, $cl-modal-header-height, $cl-modal-footer-height, sm);
}

@media (min-width: $cl-screen-md-min) and (max-width: $cl-screen-md-max) {
  @include cl-responsive-visible-hidden-pair($cl-header-height, $cl-footer-height, $cl-modal-header-height, $cl-modal-footer-height, md);
}

@media (min-width: $cl-screen-lg-min) {
  @include cl-responsive-visible-hidden-pair($cl-header-height, $cl-footer-height, $cl-modal-header-height, $cl-modal-footer-height, lg);
}
