$cl-header-height: 50px !default;
$cl-footer-height: 50px !default;

$cl-header-z-index: 1000 !default;

.core-layout {
  > .cl-header, > .cl-contents, > .cl-footer {
    left: 0;
    width: 100%;
    padding: 0;
    margin: 0;
  }

  > .cl-header {
    top: 0;
  }
  > .cl-header, > .cl-footer {
    z-index: $cl-header-z-index;
  }
  > .cl-footer {
    bottom: 0;
    height: $cl-footer-height;
  }
}

.iscroll-off {
  .core-layout {
    > .cl-header, > .cl-footer {
      position: fixed;
    }
    > .cl-contents {
      position: relative;
//      margin-top: 0;
//      margin-bottom: $cl-footer-height;

    }
  }
}

.iscroll-on {
  body {
    overflow: hidden;
  }

  .core-layout {
    > .cl-header, > .cl-contents, > .cl-footer {
      position: absolute;
      overflow: hidden;
    }

    > .cl-contents {
      overflow: auto;
//      top: 0;
//      bottom: 0;
    }
  }
}
