$cl-header-height: 50px !default;
$cl-footer-height: 50px !default;

$cl-header-z-index: 1000 !default;
$cl-modal-z-index: ($cl-header-z-index + 1) !default;
$cl-modal-header-z-index: ($cl-modal-z-index + 999) !default;

$cl-modal-overlay-color: rgba(0, 0, 0, 0.5) !default;

$cl-modal-header-height: 56px !default;
$cl-modal-footer-height: 56px !default;

$cl-responsive-sizes: (xs, sm, md, lg);

// Extra small screen / phone
$cl-screen-xs-min: 480px !default;
// Small screen / tablet
$cl-screen-sm-min: 768px !default;
// Medium screen / desktop
$cl-screen-md-min: 992px !default;
// Large screen / wide desktop
$cl-screen-lg-min: 1200px !default;

// To ensure that media queries don't overlap when required, provide a maximum.
$cl-screen-xs-max: ($cl-screen-sm-min - 1) !default;
$cl-screen-sm-max: ($cl-screen-md-min - 1) !default;
$cl-screen-md-max: ($cl-screen-lg-min - 1) !default;

$cl-modal-box-width-sm: 700px !default;
$cl-modal-box-height-sm: $cl-modal-box-width-sm !default;
$cl-modal-box-width-md: 700px !default;
$cl-modal-box-height-md: $cl-modal-box-width-md !default;
$cl-modal-box-width-lg: 700px !default;
$cl-modal-box-height-lg: $cl-modal-box-width-lg !default;
