.core-layout {
  > .cl-header, > .cl-contents, > .cl-footer {
    left: 0;
    width: 100%;
    padding: 0;
    margin: 0;
  }

  > .cl-header {
    top: 0;
  }
  > .cl-header, > .cl-footer {
    z-index: $cl-header-z-index;
  }
  > .cl-footer {
    bottom: 0;
    height: $cl-footer-height;
  }
}

.iscroll-off {
  .core-layout {
    > .cl-header, > .cl-footer {
      position: fixed;
    }
    > .cl-contents {
      position: relative;
      margin-top: $cl-header-height;
      margin-bottom: $cl-footer-height;

    }
  }
}

.iscroll-on {
  body {
    overflow: hidden;
  }

  .core-layout {
    > .cl-header, > .cl-contents, > .cl-footer {
      position: absolute;
      overflow: hidden;
    }

    > .cl-contents {
      overflow: auto;
      top: $cl-header-height;
      bottom: $cl-footer-height;
    }
  }
}

.cl-modal-box {
  .core-layout {
    > .cl-header, > .cl-footer {
      z-index: $cl-modal-header-z-index;
    }
    > .cl-footer {
      height: $cl-modal-footer-height;
    }
  }
}

.iscroll-off {
  .cl-modal-box {
    .core-layout {
      > .cl-contents {
        margin-top: $cl-modal-header-height;
        margin-bottom: $cl-modal-footer-height;
      }
    }
  }
}
.iscroll-on {
  .cl-modal-box {
    .core-layout {
      > .cl-contents {
        top: $cl-modal-header-height;
        bottom: $cl-modal-footer-height;
      }
    }
  }
}
