$iscroll-wrapper-background-color: #777;
$iscroll-scroller-background-color: #fff;

.iscroll-active {
  .iscroll-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: $iscroll-wrapper-background-color;
  }
  .iscroll-scroller {
    position: absolute;
    width: 100%;
    min-height: 100%;
    background-color: $iscroll-scroller-background-color;
  }
}