<div class="iscroll-wrapper" iscroll data-iscroll-instance="instance">
  <div class="iscroll-scroller">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 ">
          <h1>Dynamic Contents</h1>

          <div class="well">

            <p>This example shows content <em>dynamically generated</em>
              client-side through AngularJS' <a
                  href="https://docs.angularjs.org/api/ng/directive/ngRepeat">
                <code>ng-repeat</code>
                directive</a>.</p>

            <p><button type="button" class="btn btn-default"
                       ng-click="instance.refresh()">iScroll refresh</button></p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 ">
          <ul class="list-group">
            <li ng-repeat="item in getRows(50) track by $index"
                class="list-group-item">Dynamically generated row {{$index + 1}}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</div>
