<!DOCTYPE html>
<!--[if lt IE 7]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>AngularJS iScroll Demo App</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<nav class="header navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed"
              data-toggle="collapse"
              data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">iScroll Demo</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li ng-class="{active: $state.includes('staticList')}">
          <a ui-sref="staticList">Static List
            <span ng-if="$state.includes('staticList')" class="sr-only">
              (current)
            </span>
          </a>
        </li>
        <li ng-class="{active: $state.includes('ngRepeatList')}">
          <a ui-sref="ngRepeatList">ngRepeat List
            <span ng-if="$state.includes('ngRepeatList')" class="sr-only">
              (current)
            </span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div ui-view="contents" class="container slide">
  <!--[if lt IE 7]>
  <p class="browsehappy">You are using an <strong>outdated</strong> browser.
    Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve
    your experience.</p>
  <![endif]-->
</div>

<!--<div class="contents" iscroll>-->

<!--<div ng-view></div>-->
<!--</div>-->
<nav class="footer navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <p class="navbar-text">Angular-iScroll demo app:
      v<span current-version="full"></span></p>
  </div>
</nav>

<script src="/js/bundle.js"></script>
</body>
</html>
