<div class="iscroll-wrapper" iscroll data-iscroll-instance="instance">
  <div class="iscroll-scroller">
    <div class="modal-body">
      <div class="well">
        <p>This is the modal's body.</p>

        <ul class="list-group ">
                  <li class="list-group-item">
                    <label><input type="checkbox"
                                  ng-model="iScrollState.useIScroll"
                                  ng-click="toggleIScroll(true)">
                      Use iScroll</label>
                  </li>
                </ul>

        <div class="row">
          <div class="col-xs-12">
            <table class="table">
              <caption>Toggle visible and hidden header and footer
                states for the <code>modal</code> view.
              </caption>
              <thead>
              <tr>
                <th>What</th>
                <th>All</th>
                <th>
                  <span class="hidden-xs">Extra-small</span>
                  <span class="visible-xs-inline">XS</span>
                </th>
                <th>
                  <span class="hidden-xs">Small</span>
                  <span class="visible-xs-inline">SM</span>
                </th>
                <th>
                  <span class="hidden-xs">Medium</span>
                  <span class="visible-xs-inline">MD</span>
                </th>
                <th>
                  <span class="hidden-xs">Large</span>
                  <span class="visible-xs-inline">LG</span>
                </th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <th scope="row">Show Header</th>
                <td>
                  <input type="checkbox" autocomplete="off"
                         ng-model="$root.coreLayout.modal.header.visible.all">
                </td>
                <td>
                  <input type="checkbox" autocomplete="off"
                         ng-model="$root.coreLayout.modal.header.visible.xs">
                </td>
                <td>
                  <input type="checkbox" autocomplete="off"
                         ng-model="$root.coreLayout.modal.header.visible.sm">
                </td>
                <td>
                  <input type="checkbox" autocomplete="off"
                         ng-model="$root.coreLayout.modal.header.visible.md">
                </td>
                <td>
                  <input type="checkbox" autocomplete="off"
                         ng-model="$root.coreLayout.modal.header.visible.lg">
                </td>
              </tr>
              <tr>
                <th scope="row">Hide Header</th>
                <td>
                  <input type="checkbox" autocomplete="off"
                         ng-model="$root.coreLayout.modal.header.hidden.all">
                </td>
                <td>
                  <input type="checkbox" autocomplete="off"
                         ng-model="$root.coreLayout.modal.header.hidden.xs">
                </td>
                <td>
                  <input type="checkbox" autocomplete="off"
                         ng-model="$root.coreLayout.modal.header.hidden.sm">
                </td>
                <td>
                  <input type="checkbox" autocomplete="off"
                         ng-model="$root.coreLayout.modal.header.hidden.md">
                </td>
                <td>
                  <input type="checkbox" autocomplete="off"
                         ng-model="$root.coreLayout.modal.header.hidden.lg">
                </td>
              </tr>
              <tr>
                <th scope="row">Show Footer</th>
                <td>
                  <input type="checkbox" autocomplete="off"
                         ng-model="$root.coreLayout.modal.footer.visible.all">
                </td>
                <td>
                  <input type="checkbox" autocomplete="off"
                         ng-model="$root.coreLayout.modal.footer.visible.xs">
                </td>
                <td>
                  <input type="checkbox" autocomplete="off"
                         ng-model="$root.coreLayout.modal.footer.visible.sm">
                </td>
                <td>
                  <input type="checkbox" autocomplete="off"
                         ng-model="$root.coreLayout.modal.footer.visible.md">
                </td>
                <td>
                  <input type="checkbox" autocomplete="off"
                         ng-model="$root.coreLayout.modal.footer.visible.lg">
                </td>
              </tr>
              <tr>
                <th scope="row">Hide Footer</th>
                <td>
                  <input type="checkbox" autocomplete="off"
                         ng-model="$root.coreLayout.modal.footer.hidden.all">
                </td>
                <td>
                  <input type="checkbox" autocomplete="off"
                         ng-model="$root.coreLayout.modal.footer.hidden.xs">
                </td>
                <td>
                  <input type="checkbox" autocomplete="off"
                         ng-model="$root.coreLayout.modal.footer.hidden.sm">
                </td>
                <td>
                  <input type="checkbox" autocomplete="off"
                         ng-model="$root.coreLayout.modal.footer.hidden.md">
                </td>
                <td>
                  <input type="checkbox" autocomplete="off"
                         ng-model="$root.coreLayout.modal.footer.hidden.lg">
                </td>
              </tr>

              </tbody>
            </table>
          </div>
        </div>
          <div class="row">
            <ul class="list-group">
              <li class="list-group-item">A</li>
              <li class="list-group-item">B</li>
              <li class="list-group-item">C</li>
              <li class="list-group-item">D</li>
              <li class="list-group-item">E</li>
              <li class="list-group-item">F</li>
              <li class="list-group-item">G</li>
              <li class="list-group-item">H</li>
              <li class="list-group-item">I</li>
              <li class="list-group-item">J</li>
            </ul>
          </div>
      </div>
    </div>
  </div>
</div>