<div class="iscroll-wrapper" iscroll data-iscroll-instance="instance">
  <div class="iscroll-scroller">
    <div class="home container">
      <div class="row">
        <div class="col-xs-12">
          <h1>iScroll Example App</h1>

          <div class="well">
            <div class="row">
              <div class="col-xs-12 col-sm-6">
                <p>This app shows how the <code>iscroll</code> directive can be
                  used to create a responsive <a href="https://angularjs.org/">AngularJS</a>
                  web app
                  that renders and behaves well both on large (laptop) and small
                  (mobile phone) screens. The use of <a
                      href="http://iscrolljs.com/">iScroll</a> ensures that the
                  top
                  and bottom "navigation bars" stay on the screen, as with the
                  CSS
                  <code>position: fixed</code> declaration, even on older iOS
                  and
                  Android devices that doesn't support <code>fixed</code>
                  properly.
                </p>
              </div>
              <div class="col-xs-12 col-sm-6">
                <p>You may also toggle some states that define how this demo is
                  rendered:</p>

                <ul class="list-group ">
                  <li class="list-group-item">
                    <label><input name="useIScroll" type="checkbox"
                                  ng-model="iScrollState.useIScroll"
                                  ng-click="toggleIScroll(true)">
                      Use iScroll</label>
                  </li>
                  <li class="list-group-item">
                    <label><input name="useIScroll" type="checkbox"
                                  ng-model="coreLayout.showHeader">
                      Show header</label>
                  </li>
                  <li class="list-group-item">
                    <label><input name="useIScroll" type="checkbox"
                                  ng-model="coreLayout.showFooter">
                      Show footer</label>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
