<div class="container-fluid multi-column">
  <div class="row">
    <div class="column col-xs-6">
      <div class="iscroll-wrapper" iscroll data-iscroll-instance="instance">
        <div class="iscroll-scroller">
          <div class="container-fluid">
            <div class="row">
              <h1>Column 1</h1>
              <div class="well">
                <p>This example shows how easy it is to enable multiple separate
                iScroll instances on the same page.</p>

                <p><button type="button" class="btn btn-default"
                       ng-click="instance.refresh()">iScroll refresh</button></p>
              </div>
              <ul class="list-group">
                <li ng-repeat="item in getRows(50) track by $index"
                    class="list-group-item">Col 1, row {{$index + 1}}
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="column col-xs-6">
      <div class="iscroll-wrapper" iscroll data-iscroll-instance="instance">
        <div class="iscroll-scroller">
          <div class="container-fluid">
            <div class="row">
              <h1>Column 2</h1>
              <div class="well">
                <p>Lorem ipsum …</p>
                <p><button type="button" class="btn btn-default"
                       ng-click="instance.refresh()">iScroll refresh</button></p>
              </div>
              <ul class="list-group">
                <li ng-repeat="item in getRows(25) track by $index"
                    class="list-group-item">Col 2, row {{$index + 1}}
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>